html,body {
    font-size:24px;
    font-family:arial
}

td {
    padding:0.25em;
}

button {
    font-size:24px;
    background:black;
    border:1px solid black;
    color:white;
    border-radius:5px;
    padding:0.25em 0.4em;
}

button:hover {
    color:black;
    background:white;
}

#ouput {
    font-weight:bold;
}